@model PackageDelivery.GUI.Models.Parameters.DepartmentModel

@{
    ViewBag.Title = "Details";
}
<html>

<style>
    body, html {
        height: 100%;
        line-height: 1.8;
        background-size: cover;
        background-image: url("https://images.pexels.com/photos/10533148/pexels-photo-10533148.jpeg");
    }
</style>
<h2>Details</h2>

<div>
    <h4>DepartmentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</html>